// General styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;
}

// Colors
// Primary colors
$active-input-border: linear-gradient(
  135deg,
  hsl(249, 99%, 64%),
  hsl(278, 94%, 30%)
);
$error-input-border: hsl(0, 100%, 66%) !important;

// Neutral colors
$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

// Fonts
$font-size: 18px;
$font-weight-regular: 500;
$font-weight-bold: 700;

// Defining mixins
@mixin input-state() {
  border: double 1px transparent;
  background-image: linear-gradient(white, white),
    linear-gradient(135deg, hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 8px;
  cursor: pointer;
}

@mixin atm-card($url) {
  height: fit-content;
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/0.57;
  border-radius: 8px;
  width: 290px;
}

@mixin center-both ($fex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $fex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin custom-button(){
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: $very-dark-violet;
  outline: none;
  color: $white;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  &:hover{
    background: lighten($color: $very-dark-violet, $amount: 5%);
  }
}
// Media queries starting from the smallest to the largest screen (375px, 1440px)
.theme{
  background: $very-dark-violet;
}

#desktop-theme {
  display: none;
}

.inner-container{
  @include center-both(row, center, center);
}

#form {
  background-color: $white;
  padding: 6rem 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: min(100%, 375px);
  max-width: 500px;
  position: relative;
  z-index: 0;
}

.thank-you-container {
  width: min(100%, 375px);
  @include center-both(column, center, center);
  display: none;
  row-gap: 1rem;
  padding: 4rem 1.5rem;
  text-align: center;
  img{
    width: 65px;
  }
  h2 {
    color: $very-dark-violet;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  p {
    color: $dark-grayish-violet;
    font-size: 0.9rem;
    line-height: 1.5;
  }
  #continue-button {
    @include custom-button();
  }
}

.card{
  color: $white;
  text-transform: uppercase;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 30px;
  @include center-both(column-reverse, center, center);
  .front-info {
    @include atm-card("../images/bg-card-front.png");
    margin-top: -72.5px;
    margin-left: -50px;
    padding: 1rem;
    #circle {
      scale: 0.7;
      margin-left: -14px;
    }
    .front-infos{
      display: block;
      .front-header{
        margin-top: 20px;
        font-size: 1.2rem;
        word-spacing: 2px;
        letter-spacing: 2px;
      }
      .front-footer{
        margin-top: 20px;
        @include center-both(row, space-between, center);
        font-size: 0.7rem;
      }
    }
  }
  .back-info {
    @include atm-card("../images/bg-card-back.png");
    @include center-both(column, center, center);
    margin-right: -50px;
    .back-header{
      @include center-both(row, right, center);
      width: 100%;
      font-size: 0.7rem;
      margin-right: 60px;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  .error-message {
    color: $error-input-border;
    font-size: 12px;
    font-weight: $font-weight-bold;
    display: none;
    margin-top: 5px;
  }
  .error-input {
    border: 1px solid $error-input-border;
  }

  label {
    text-transform: uppercase;
    font-size: 12px;
    color: $very-dark-violet;
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
  }

  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $light-grayish-violet;
    color: $very-dark-violet;
    font-weight: $font-weight-bold;
    display: block;
    outline: none;

    &:hover {
      @include input-state();
    }
    &:focus {
      @include input-state();
    }
    &::placeholder {
      color: $light-grayish-violet;
      font-weight: $font-weight-bold;
    }
  }
}

#submit-button {
  @include custom-button();
}

.date-cvc {
  max-width: 100% !important;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  column-gap: 10px;
  #exp-date {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr !important;
    column-gap: 10px;
    input {
      width: 100%;
    }
  }
  #cvc-container {
    input {
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  #desktop-theme {
    display: block;
    width: 310px;
    height: 100vh;
    position: relative;
  }
  #mobile-theme {
    display: none;
  }
  .card{
    top: 35%;
    left: 20%;
    flex-direction: column;
    row-gap: 30px;
    width: 30%;
    // background: #000;
    z-index: 2;
    *{
      margin: 0;
    }
  }
  .container {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  #form {
    z-index: 1;
    width: min(400px, 90%);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding-left: 160px;
    box-sizing: content-box;
  }
  .inner-container {
    width: 100%;
    @include center-both(row, center, center);
  }
  .thank-you-container{
    z-index: 1;
  }
}

@media screen and (min-width: 1000px) {
  .card{
    left: 100px;
  }
}

@media screen and (min-width: 828px) {
  #form {
    padding-left: 200px;
  }
}

@media screen and (max-width: 360px) {
  .card{
    left: 25px;
  }
  #form{
    margin-left: 25px;
    padding-left: 10px;
  }
}